@import "md-colors/light.css";
@import "global.css";
@import "navbar.css";

body {
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin-left: 2vw;
    background-color: var(--colorFondoPagina);
}

.titulo{
    margin-left: 2vw;
}
.contenedor{
    position: relative; /*height: 10vh;*/
    height: fit-content;
    padding:1vh;
}

.contenedor > p{
    max-width: 70vw;
    /*
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}
.textoDivider{
    font-size: 15px;
    margin-top: 1vh;
    margin-bottom: 0;
    padding-bottom: 2vh;
    color: var(--md-sys-color-primary);
    margin-left: 2vw;
}
.espaciador{
    padding-top: 2vh;
}
md-divider{
    margin-left: 2vw;
}
.switch{
    position: absolute;
    bottom: 1.5vh;
    right: 2vw;
}
.text{
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
}
.subtext{
    font-size: 17px;
    margin-top: .7vh;
    margin-bottom: 0;
    padding: 0;
}.num-jugadores{
    font-size: 1.5rem;
    padding-top: 1rem;
}
.Idioma {
    position: fixed;
    width: 50vw;
    background-color: whitesmoke;
    padding: 1rem;
    padding-left: 0rem;
    border-radius: var(--radio);
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Añadir transición */
    z-index: -1;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* Asegurarse que el menú esté centrado */
    top: 55%;
    left: 35%;
    transform: translate(-25%, -50%) scale(0.8);
}

.Idioma.visible {
    opacity: 1; /* Aumentar la opacidad */
    transform: translate(-25%, -50%) scale(1); /* Restablecer la escala */
    z-index: 1; /* Asegurarse de que esté encima */
}

.menu-container {
    position: relative; /* Necessary for positioning the dropdown */
}

.menu-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.Idioma ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Idioma li {
    padding: 10px 20px;
    cursor: pointer;
}
.iText {
    position: relative;
    top: -.3vh;
    margin-left: 3vw; /* Adjust margin as needed */
    padding: 2vw;
  }
  
