@import "md-colors/light.css";
@import "global.css";
@import "navbar.css";

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 2vw;
    overflow-y: hidden;
    background-color: var(--colorFondoPagina);
}

.titulo{
    margin-left: 2vw;
}
.contenedor{
    position: relative; /*height: 10vh;*/
    height: fit-content;
    padding:1vh;
}

.contenedor > p{
    max-width: 70vw;
    /*
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}
.textoDivider{
    font-size: 15px;
    margin-top: 1vh;
    padding-bottom: 2vh;
    color: var(--md-sys-color-primary);
}
.espaciador{
    padding-top: 2vh;
}
#menuSelectedA{
    text-align: center;  
    font-weight: bold;
  }
  a{
    text-align: center;
    text-decoration: none; 
  }
  
.switch{
    position: absolute;
    bottom: 1.5vh;
    right: 2vw;
}
.text{
    margin-bottom: 0;
    margin-top: 0;
}
.subtext{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}.num-jugadores{
    font-size: 1.5rem;
    padding-top: 1rem;
}
