:root{
    --colorFondo: var(--md-sys-color-background);
    --colorFondoPagina: rgb(243, 254, 255);
}
body {
    font-family: 'Roboto';font-size: 22px;
   
}
/*Eliminar seleccion azul:*/
::selection {
    color: none;
    background: none;
}