:root{
    --colorFondo: var(--md-sys-color-background);
    --colorFondoPagina: rgba(0, 238, 255, 0.04);
    --radio: 1.5rem;
    --primario: var(--md-sys-color-primary);
}
body {
    font-family: 'Roboto';font-size: 22px;
    transition: opacity .2s;
}
#pantalla{
    opacity: 0;
    transition: opacity .2s;
  }
/*Eliminar seleccion azul:*/
::selection {
    color: none;
    background: none;
}