:root {
    --azul: #BCD1FF;
    --amarillo:#FFE6BC;
    --rojo:#FFC4E5;
    --gris:#D9D9D9;
    --radio: 2rem;
    --borde: 1px solid black;
    --bordeSelec: 2px solid black;
  }
  
.tablero{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px; 
    grid-template-rows: 120px 120px 120px 120px 120px;
    justify-content: center;
    border-radius: 120px;
    padding: 0;
   }
.box {
  
    border: 1px solid black;
    cursor: pointer;
   } 
.box:hover {
    /*background-color: #c2c2c2;*/
    filter:brightness(120%);
    border: 2px solid black;
    transition-duration: .25s;
   }
.azul{
    background-color: var(--azul);
}
.rojo{
    background-color: var(--rojo);
}
.amarillo{
    background-color: var(--amarillo);
}
.fondo{
    background-color: var(--gris);
}
.wall{
    background-color:rgb(239, 182, 182);
}

.pregunta {
    display: block;
    position:fixed;
    width: 80%;
    top: 70%;
    margin-left:5%;
    margin-right: 5%;
    /*Lo pone en medio:*/
    /*transform: translate(-50%, -50%);*/
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: var(--radio);
    background-color: whitesmoke;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.pregunta.visible {
    opacity: 1;
    transform: scale(1);
    
}
#eTL{
    border-top-left-radius: var(--radio);
}
#eTR{
    border-top-right-radius: var(--radio);
}
#eBL{
    border-bottom-left-radius: var(--radio);
}
#eBR{
    border-bottom-right-radius: var(--radio);
}

/*VISTA MOVIL*/
@media only screen and (max-width: 768px){
    .tablero{
        grid-template-columns: 20px 100px 100px 100px 100px 100px 20px; 
        grid-template-rows: 20px 120px 120px 120px 120px 120px 20px; 
        justify-content: left;
    }
}

   /* No sirve:
.fill-div{
    background-color: var(--color);
    border: var(--borde);
    border-radius: var(--radio);
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.fill-div:hover{
    filter:brightness(120%);
    border: var(--bordeSelec);
    transition-duration: .25s;
}
.fill-div.selected{
    filter:saturate(20%);
    transition-duration: .25s;
    border: var(--borde);
    border-radius: 1rem;
   }*/