:root {
    --color: rgb(64, 224, 208);
    --radio: 1rem;
    --borde: 1px solid black;
    --bordeSelec: 2px solid black;
  }
  
.tablero{
    display: grid;
    grid-template-columns: 20px 120px 120px 120px 120px 120px 20px; 
    grid-template-rows: 20px 120px 120px 120px 120px 120px 20px; 
    justify-content: center;
   }
.box {
    background-color: rgb(64, 224, 208);
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
   } 
.box:hover {
    /*background-color: #c2c2c2;*/
    filter:brightness(120%);
    border: 2px solid black;
    transition-duration: .25s;
   }

.wall{
    background-color:white;
}

.pregunta {
    display: block;
    position:fixed;
    width: 80%;
    top: 70%;
    margin-left:5%;
    margin-right: 5%;
    /*Lo pone en medio:*/
    /*transform: translate(-50%, -50%);*/
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: var(--radio);
    background-color: whitesmoke;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.pregunta.visible {
    opacity: 1;
    transform: scale(1);
    
}

/*VISTA MOVIL*/
@media only screen and (max-width: 768px){
    .tablero{
        grid-template-columns: 20px 100px 100px 100px 100px 100px 20px; 
        grid-template-rows: 20px 120px 120px 120px 120px 120px 20px; 
        justify-content: left;
    }
}

   /* No sirve:
.fill-div{
    background-color: var(--color);
    border: var(--borde);
    border-radius: var(--radio);
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.fill-div:hover{
    filter:brightness(120%);
    border: var(--bordeSelec);
    transition-duration: .25s;
}
.fill-div.selected{
    filter:saturate(20%);
    transition-duration: .25s;
    border: var(--borde);
    border-radius: 1rem;
   }*/