.dark-medium-contrast {
  --md-sys-color-primary: rgb(146 211 247);
  --md-sys-color-surface-tint: rgb(142 207 242);
  --md-sys-color-on-primary: rgb(0 25 36);
  --md-sys-color-primary-container: rgb(87 152 186);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(133 217 211);
  --md-sys-color-on-secondary: rgb(0 26 25);
  --md-sys-color-secondary-container: rgb(72 158 152);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(205 198 238);
  --md-sys-color-on-tertiary: rgb(22 18 48);
  --md-sys-color-tertiary-container: rgb(146 140 178);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(246 252 252);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(195 205 206);
  --md-sys-color-outline: rgb(155 165 166);
  --md-sys-color-outline-variant: rgb(123 133 134);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 228);
  --md-sys-color-inverse-on-surface: rgb(37 43 44);
  --md-sys-color-inverse-primary: rgb(0 78 105);
  --md-sys-color-primary-fixed: rgb(194 232 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 29);
  --md-sys-color-primary-fixed-dim: rgb(142 207 242);
  --md-sys-color-on-primary-fixed-variant: rgb(0 59 80);
  --md-sys-color-secondary-fixed: rgb(157 241 235);
  --md-sys-color-on-secondary-fixed: rgb(0 20 19);
  --md-sys-color-secondary-fixed-dim: rgb(129 213 206);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 61 58);
  --md-sys-color-tertiary-fixed: rgb(229 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(17 12 43);
  --md-sys-color-tertiary-fixed-dim: rgb(201 194 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(55 50 82);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(52 58 59);
  --md-sys-color-surface-container-lowest: rgb(9 15 16);
  --md-sys-color-surface-container-low: rgb(23 29 29);
  --md-sys-color-surface-container: rgb(26 33 33);
  --md-sys-color-surface-container-high: rgb(37 43 44);
  --md-sys-color-surface-container-highest: rgb(48 54 55);
}
