html, body {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(127, 255, 212, 0.85);
    padding: 1px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: sticky;

}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: grid;
    margin: 0 45%;
}
nav ul li a {
    text-decoration: none;
    color: #333333cb;
}
#boton {
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    margin-top:10%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: aquamarine;
    padding: 5% 10%;
    transition-duration: .25s;
}
#boton:hover{
    background-color: rgb(109, 223, 185);
    transition-duration: .25s;
}

body div a{
    color:#333; 
    text-decoration: none;
}